<header class="main-header">
  <div class="container">
    <h1 class="logo">zZ Tienda Zz</h1>
    <nav>
      <ul class="nav-links">
        <li>
          <button class="cart-button" (click)="goToCart()">🛒 Ver Carrito</button>
          <button class="add-product" (click)="goToAddProduct()">Añadir Producto</button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="search-product">
  <input class="searching" [(ngModel)]="searchId" placeholder="Buscar por ID de producto" />
  <button class="searching-btn" (click)="searchProduct()">Buscar</button>
</section>

<section class="list-products">
  <div class="product-grid">
    <div class="product-item" *ngFor="let item of listaProductos">
      <a [routerLink]="['/product-details', item.id]">
        <app-product-item [item]="item"></app-product-item>
      </a>
    </div>
  </div>
</section>

<footer class="main-footer">
  <div class="container">
    <p>&copy; 2025 Mi Tienda. Todos los derechos reservados.</p>
  </div>
</footer>
