/* Estilos generales para el modo oscuro */
body {
    background-color: #ffffff; /* Fondo oscuro */
    color: #000000; /* Color de texto claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el header */
header {
    background-color: #ffffff; /* Fondo oscuro para el header */
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #333; /* Borde inferior sutil */
}

header h1 {
    color: #ffffff; /* Texto blanco para el título */
    margin: 0;
}

/* Estilos para el main */
main {
    padding: 20px;
}

/* Estilos para el mensaje de inventario vacío */
.empty-inventory {
    text-align: center;
    color: #b0b0b0; /* Color de texto gris claro */
    font-size: 18px;
}

/* Estilos para la lista de productos */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #1f1f1f; /* Fondo oscuro para cada ítem */
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
}

.product-item {
    display: flex;
    align-items: center;
    padding: 15px;
}

.product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.product-details {
    flex: 1;
}

.product-details h2 {
    color: #ffffff; /* Texto blanco para el título del producto */
    margin: 0 0 10px 0;
}

.product-details p {
    color: #b0b0b0; /* Color de texto gris claro para el precio */
    margin: 0 0 10px 0;
}

/* Estilos para el botón */
button {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Cambia el color al pasar el mouse */
}

button:active {
    background-color: #3e8e41; /* Cambia el color al hacer clic */
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(72, 207, 173, 0.5); /* Sombra al hacer foco */
}