<header>
    <h1>Inventario</h1>
  </header>
  
  <main>
    <div *ngIf="inventory.length === 0" class="empty-inventory">
      <p>No hay productos en el inventario.</p>
    </div>
  
    <div *ngIf="inventory.length > 0">
      <ul>
        <li *ngFor="let item of inventory">
          <div class="product-item">
            <img [src]="item.imageUrl" alt="{{ item.title }}" />
            <div class="product-details">
              <h2>{{ item.title }}</h2>
              <p>${{ item.price | number:'1.2-2' }}</p>
              <button (click)="addToCart(item)">Añadir al carrito</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </main>
  